<%- include('./layouts/header') %>
<body>
<div>
    <%- include('./layouts/nav')%>
    <h1>This is Home <%= title %></h1>
    <div class="container">
        <ul class="list-group">
            <% for(var i=0; i<posts.length; i++) { %>
                <li class="list-group-item disabled"><%= posts[i].title %></li>
            <% } %>
        </ul>
    </div>
</div>
</body>
<%- include('./layouts/footer') %>